{
  "presets": ["next/babel"],
  "plugins": [
    [
      "babel-plugin-styled-components",
      {
        "ssr": true,
        "displayName": true,
        "preprocess": false
      }
    ],
    [
      "module-resolver",
      {
        "alias": {
          "constants": "./constants.js",
          "contentfulClient": "./contentfulClient.js",
          "components": "./components"
        }
      }
    ]
  ]
}
