*,
*:before,
*:after {
  box-sizing: border-box;
}

:root {
  /* 12px */
  font-size: 75%;

  --grey-100: #fffbf9;
  --grey-300: #e7e3e0;
  --grey-500: #b0b0b0;
  --grey-700: #797470;
  --grey-900: #201e1d;

  --orange-100: rgb(255, 217, 205);
  --orange-300: rgb(245, 171, 148);
  --orange-500: rgb(243, 126, 90);
  --orange-700: rgb(204, 105, 74);
  --orange-900: rgb(131, 60, 38);

  --purple-100: rgb(190, 183, 226);
  --purple-300: rgb(110, 100, 163);
  --purple-500: rgb(52, 44, 95);
  --purple-700: rgb(31, 26, 61);
  --purple-900: rgb(6, 5, 12);

  --green-300: rgb(18, 221, 126);
  --green-700: rgb(11, 148, 84);

  --red-500: rgb(228, 86, 67);
  --red-700: rgb(172, 54, 39);
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--grey-100);
  color: var(--grey-900);
  font-size: 1.5rem; /* 18px */
  font-family: "Poppins", BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu,
    Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body.no-scroll {
  overflow: hidden;
}

p,
a,
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  padding: 0;
}

p,
a {
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5 {
  line-height: 1.25;
  font-family: "Martel", "Times New Roman", Times, serif;
}

h1,
.hero {
  font-size: 4.5rem;
  font-weight: 100;
}

h2,
.headline {
  font-size: 3rem;
}

h3,
.title {
  font-size: 2rem;
}

h4,
.subtitle {
  font-size: 1.5rem;
  font-weight: 700;
}

h5,
.emphasis {
  font-size: 1.5rem;
  font-weight: 900;
  font-style: italic;
}
.small {
  font-size: 1rem;
  line-height: 2;
}

main.content {
  margin-bottom: 4rem;
}

.container {
  width: 100%;
  max-width: 105rem;
  margin: 0 auto;
}

.card {
  background: var(--grey-100);
  padding: 1rem;
  box-shadow: 0 12px 12px -12px rgba(32, 30, 29, 0.24);
}

@media (min-width: 40rem) {
  h1,
  .hero {
    font-size: 6rem;
  }

  h2,
  .headline {
    font-size: 3.5rem;
  }

  h3,
  .title {
    font-size: 3rem;
  }

  h4,
  .subtitle {
    font-size: 2rem;
  }

  .small {
    font-size: 1rem;
    line-height: 2;
  }
}

@media (min-width: 100rem) {
  .container {
    padding: 0;
  }
}

a {
  color: var(--purple-500);
  text-decoration: none;
}

a:active {
  color: var(--purple-900);
}

a:hover {
  color: var(--purple-100);
}

.markdown {
  max-width: 75rem;
}

.markdown h2 {
  margin-top: 3rem;
}

.markdown p {
  margin-top: 2rem;
}

.markdown img {
  max-width: 100%;
}
